-# Careful on updating the styling in the partial. Old styles are no longer supported. 
-# If you have any questions, post on #digital-experience-team on Slack
-# Issue: https://gitlab.com/gitlab-com/marketing/inbound-marketing/growth/-/issues/809
-# Figma link with mockup for this section: https://www.figma.com/file/rf8lStJ2gmy3pa29wSt4UA/Home-Page-3.0.1?node-id=2%3A8

.container-fluid{:style => "position: relative"}
  .custom-gray-bg{:style => "bottom: 0"}
  %section.container.release-section.u-margin-bottom-xl.text-center
    %img{src: "/images/home/release.svg", alt: "Release Count", loading: "lazy"}
    .release-count-label
      %h1 13.12
    .release-section-description
      .ten-oh-description-body.text-center
        %h3.u-margin-bottom-0.u-margin-top-0 New features every month
        %p.u-margin-bottom-xs.u-margin-top-xxs
          GitLab 13.12 released with On Demand DAST and Deployment Frequency Chart

        .btn-group
          = link_to "/releases/2021/05/22/gitlab-13-12-released/", class: "btn cta-btn orange-light margin-top20 hero-cta hero-release-link" do
            See what’s new

:erb
  <script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
      "description":"GitLab is a complete DevOps platform, delivered as a single application.",
    "applicationCategory": "DevOps",
    "operatingSystem": "Linux based",
      "name":"GitLab 13.12",
      "releaseNotes":"https://about.gitlab.com/releases/2021/05/22/gitlab-13-12-released/",
      "softwareVersion":"13.12",
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "ratingCount": "285"
    },
    "offers": {
      "@type": "AggregateOffer",
      "priceCurrency": "USD",
      "lowPrice": "0",
      "highPrice": "1188.00"
    }
  }
  </script>
